# Telegram Bot 配置
TELEGRAM_BOT_TOKEN=7042936414:AAGNzmB2L9i6OS7B7dwgVIFpNdFeLziEoRM
TELEGRAM_CHAT_ID=-1003149735777

# ETH RPC 配置
ETH_RPC_URL=https://eth.llamarpc.com

# 数据库配置
DATABASE_FILE=monitor_addresses.db